
.icone{
background:url(image/close.png) no-repeat;
	cursor: pointer;
	width: 16px;
	height:16px;
	float:right;
	border: none !important;
	padding:0px !important;
	padding-bottom:0px !important;
	margin-left:5px;
	display: block;
        
}